attachment/src/main/app/attachment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
 <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
 <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8082" doc:name="HTTP_Request_Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail" />

<flow name="test_flow">
  <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP" allowedMethods="POST">
            <http:response-builder>
                <http:header headerName="content" value="attachment; filename=some.pdf"/>
            </http:response-builder>
        </http:listener>
        <set-payload value="&quot;file sent&quot;" doc:name="Set Payload"/>
        <set-attachment attachmentName="#[message.outboundProperties.filename]" value="#[payload]" contentType="application/pdf" doc:name="Attachment"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="eaitest19@gmail.com" password="eaisystems" connector-ref="Gmail" to="rohit.poojary@eaisystems.com" from="eaitest19@gmail.com" subject="pdf" responseTimeout="10000" doc:name="SMTP"/>
</flow>
</mule>