assignment4/src/main/app/assignment4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9092" doc:name="HTTP Listener Configuration" basePath="/mysampleREST"/>
    <http:request-config name="HTTP_Request_Configuration" host="www.thomas-bayer.com" port="80"  doc:name="HTTP Request Configuration" basePath="sqlrest/CUSTOMER"/>
    <flow name="assignment4Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP" />
        <set-variable variableName="ID" value="#[message.inboundProperties.'http.query.params'.id]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{ID}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="ID" value="#[flowVars.ID]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
