message_control/target/classes/message_control.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="eaisystems" database="message_control" doc:name="MySQL Configuration"/>
    <flow name="message_controlFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="post" doc:name="HTTP"/>
        <set-variable variableName="destination" value="#[message.inboundProperties.'http.query.params'.destination]" doc:name="destination"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.destination == 'Email']">
                <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="eaitest19@gmail.com" password="eaisystems" connector-ref="Gmail" to="rohit.poojary@eaisystems.com" from="eaitest19@gmail.com" subject="pdf" responseTimeout="10000" doc:name="SMTP"/>
            </when>
            <when expression="#[flowVars.destination == 'database']">
                <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[INSERT INTO upload (name,size,type,content) values ('1',#[message.inboundAttachments.size()],'pdf',#[message.inboundAttachments])]]></db:parameterized-query>
                </db:insert>
            </when>
            <otherwise>
                <logger message="error no destination specified" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
