assignment5/target/classes/assignment5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9093" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="training_MySQL_Configuration" host="localhost" port="3306" user="root" password="eaisystems" database="training" doc:name="MySQL Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="assignment5Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/db" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="id" value="#[message.inboundProperties.'http.query.params'.id]" doc:name="id"/>
        <set-variable variableName="fname" value="#[message.inboundProperties.'http.query.params'.fname]" doc:name="fname"/>
        <set-variable variableName="lname" value="#[message.inboundProperties.'http.query.params'.lname]" doc:name="lname"/>
        <set-variable variableName="emp" value="#[message.inboundProperties.'http.query.params'.emp]" doc:name="emp"/>
        <set-payload value="#[flowVars.id,flowVars.fname,flowVars.lname,flowVars.emp]" doc:name="Set Payload"/>
        <db:insert config-ref="training_MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into employee values(#[message.inboundProperties.'http.query.params'.id],'#[flowvars.fname]','#[flowvars.lname]',#[message.inboundProperties.'http.query.params'.emp]);]]></db:parameterized-query>
        </db:insert>
        <object-to-string-transformer doc:name="Object to String"/>
        <file:outbound-endpoint path="D:\Users\One\Desktop\abc" outputPattern="employee.txt" connector-ref="File" responseTimeout="10000" doc:name="mail text"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="eaitest19" password="eaisystems" connector-ref="Gmail" to="rohit.poojary@eaisystems.com" from="eaitest19@gmail.com" subject="hola" responseTimeout="10000" doc:name="SMTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
